# MongoDB environment variables for Docker Compose
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=pass
MONGO_DATABASE=pass

# MongoDB DSN
# Ex: mongodb://root:password@localhost:27017/snippetbox?authSource=admin
SNIPPETBOX_URI="mongodb://root:pass@localhost:27017/snippetbox?authSource=admin"
